.webName {

font-family: 'Brush Script MT';
font-size: 30px;
color: blue;
border-color: black;
border-bottom: 1px solid;
border-left: 1px solid;
border-top: 1px solid;
border-right: 1px solid;
background-color: black;
height: 100px;
}

.options {
  
  font-family: 'sans-serif';
  font-size: 22px;
  color: red;
}

  table {
    
    width: 100%;
    
   
  }
  
  td {
    
    width: 20%;
    height: 100%;
  }
  

  

